html {
  font-size: 20px;
  background-color: aliceblue;
  color: navy;
  font-family: monospace;
  letter-spacing: 0px;
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  margin: auto;
  width: 600px;
}

h1 {
  text-align: center;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  outline: 2px solid rgb(87, 109, 138);
  margin: auto;
  padding: 0px 10px 10px 10px;
}

input {
  flex-basis: 100%;
}

select, button {
  margin-left: 10px;
  flex-basis: auto;
  flex-grow: 2;
}

label, select, button {
  margin-top: 8px;
}

.form-popup > label > div {
  box-sizing: border-box;
  border: 0.01px solid rgb(160,160,255); 
  flex-grow: 1;
}


li {
  margin-bottom: 10px;
  list-style-type: none;
}

.book-content {
  white-space: nowrap;
  display: inline-block
}

.read-label, .delete-book {
  margin-left: 10px;
  position: relative;
  top: -2px;
}

/* The switch - the box around the slider */
.read-label {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  white-space: nowrap;
}

/* Hide default HTML checkbox */
.read-label input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.read-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.read-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .read-slider {
  background-color: #2196F3;
}

input:focus + .read-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .read-slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}